/* You can add global styles to this file, and also import other style files */
body {
  background-color: #454343;
}
.container-box {
  width: 100%;
  /* border: 1px solid red; */
}

.player-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.player-title {
  font-weight: 600;
  color: white;
  margin-bottom: 10px;

}

.player-body {
  /* border: 1px solid red; */
  width: 30%;
  margin: 30px;
}

.add-btn {
  padding-inline: 20px;
}
.player-wrapper {
  max-width: 500px;
  margin: auto;

  video {
    width: 100%;
  }
}
ul {
  padding: 0px;

  li.playlist-item {
    padding: 10px;
    list-style: none;
    background: #e6e6e6;
    margin-bottom: 2px;
    cursor: pointer;
  }

  li.playlist-item.selected {
    background-color: rgb(158, 155, 155);
  }
}

h3 {
  color: black;
}
